/**Variable**/

@import './variable.scss';
@import './mixin.scss';
// @import './checked.scss';
@import './common.scss';
@import './loading.scss';
%DefaultColumnHeight {
    height: $vxe-table-row-height-default;
}

%MediumColumnHeight {
    height: $vxe-table-row-height-medium;
}

%SmallColumnHeight {
    height: $vxe-table-row-height-small;
}

%MiniColumnHeight {
    height: $vxe-table-row-height-mini;
}

* {
    box-sizing: border-box;
}

.dui-table-slots,
.dui-table--file-form {
    display: none;
}

.dui-table--print-frame {
    position: fixed;
    bottom: -100%;
    left: -100%;
    height: 0;
    width: 0;
    border: 0;
}

.dui-table--body-wrapper {
    scroll-behavior: auto;
}

.dui-table--body-wrapper,
.dui-table--fixed-left-body-wrapper,
.dui-table--fixed-right-body-wrapper {
    overflow-y: auto;
    overflow-x: auto;
}


/*默认的渲染*/

.dui-cell,
.dui-table--filter-wrapper {
    .dui-default-input,
    .dui-default-textarea {
        background-color: $vxe-table-body-background-color;
    }
    .dui-default-input,
    .dui-default-textarea,
    .dui-default-select {
        outline: 0;
        padding: 0 2px;
        width: 100%;
        color: $vxe-table-font-color;
        border-radius: $vxe-border-radius;
        border: 1px solid $vxe-input-border-color;
        &:focus {
            border: 1px solid $vxe-primary-color;
        }
        &[disabled] {
            cursor: not-allowed;
            background-color: $vxe-input-disabled-background-color;
        }
    }
    .dui-default-input,
    .dui-default-textarea,
    .dui-default-select {
        height: $vxe-input-height-default;
    }
    .dui-default-input {
        &[type="date"]::-webkit-inner-spin-button {
            margin-top: 4px;
        }
        &[type="date"]::-webkit-inner-spin-button,
        &[type="number"]::-webkit-inner-spin-button {
            height: 24px;
        }
        &::placeholder {
            color: $vxe-input-placeholder-color;
        }
    }
    .dui-default-textarea {
        resize: none;
        vertical-align: middle;
    }
    .dui-input,
    .dui-textarea,
    .dui-select {
        width: 100%;
        display: block;
    }
    .dui-input>.dui-input--inner,
    .dui-textarea>.dui-textarea--inner {
        padding: 0 2px;
    }
    .dui-textarea--inner,
    .dui-default-textarea {
        resize: none;
    }
}

.dui-table--checkbox-range,
.dui-table--cell-main-area,
.dui-table--cell-extend-area,
.dui-table--cell-active-area,
.dui-table--cell-copy-area {
    display: none;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

.dui-table--fixed-left-wrapper,
.dui-table--fixed-right-wrapper {
    .dui-table--checkbox-range,
    .dui-table--cell-main-area,
    .dui-table--cell-extend-area,
    .dui-table--cell-active-area,
    .dui-table--cell-copy-area {
        z-index: 2;
    }
}

.dui-table--fixed-left-wrapper {
    .dui-table--cell-main-area,
    .dui-table--cell-extend-area,
    .dui-table--cell-active-area {
        &[half="1"] {
            border-right: 0;
        }
    }
    .dui-table--cell-copy-area {
        &[half="1"] {
            background-size: $vxe-table-cell-copy-area-border-width 12px, 0 12px, 12px $vxe-table-cell-copy-area-border-width, 12px $vxe-table-cell-copy-area-border-width;
        }
    }
}

.dui-table--fixed-right-wrapper {
    .dui-table--cell-main-area,
    .dui-table--cell-extend-area,
    .dui-table--cell-active-area {
        &[half="1"] {
            border-left: 0;
        }
    }
    .dui-table--cell-copy-area {
        &[half="1"] {
            background-size: 0 12px, $vxe-table-cell-copy-area-border-width 12px, 12px $vxe-table-cell-copy-area-border-width, 12px $vxe-table-cell-copy-area-border-width;
        }
    }
}


/*复选框-范围选择*/

.dui-table--checkbox-range {
    background-color: $vxe-table-checkbox-range-background-color;
    border: $vxe-table-checkbox-range-border-width solid $vxe-table-checkbox-range-border-color;
}

.dui-table--cell-area {
    height: 0;
    font-size: 0;
    display: none;
    &>.dui-table--cell-main-area {
        background-color: $vxe-table-cell-area-background-color;
        border: $vxe-table-cell-area-border-width solid $vxe-table-cell-area-border-color;
    }
    .dui-table--cell-main-area-btn {
        display: none;
        position: absolute;
        right: -1px;
        bottom: -1px;
        width: 7px;
        height: 7px;
        border-style: solid;
        border-color: $vxe-table-cell-main-area-extension-border-color;
        border-width: 1px 0 0 1px;
        background-color: $vxe-table-cell-main-area-extension-background-color;
        pointer-events: auto;
        cursor: crosshair;
    }
    .dui-table--cell-extend-area {
        border: $vxe-table-cell-extend-area-border-width solid $vxe-table-cell-extend-area-border-color;
    }
}

@keyframes moveCopyCellBorder {
    from {}
    to {
        background-position: 0 -12px, 100% 12px, 12px 0, -12px 100%;
    }
}

.dui-table--cell-copy-area {
    background: linear-gradient(0deg, transparent 6px, $vxe-table-cell-copy-area-border-color 6px) repeat-y, linear-gradient(0deg, transparent 50%, $vxe-table-cell-copy-area-border-color 0) repeat-y, linear-gradient(90deg, transparent 50%, $vxe-table-cell-copy-area-border-color 0) repeat-x, linear-gradient(90deg, transparent 50%, $vxe-table-cell-copy-area-border-color 0) repeat-x;
    background-size: $vxe-table-cell-copy-area-border-width 12px, $vxe-table-cell-copy-area-border-width 12px, 12px $vxe-table-cell-copy-area-border-width, 12px $vxe-table-cell-copy-area-border-width;
    background-position: 0 0, 100% 0, 0 0, 0 100%;
    animation: moveCopyCellBorder .5s infinite linear;
}

.dui-table--cell-active-area {
    border: $vxe-table-cell-active-area-border-width solid $vxe-table-cell-active-area-border-color;
}

.dui-table--cell-multi-area {
    &>.dui-table--cell-main-area {
        background-color: $vxe-table-cell-area-background-color;
    }
}


/*圆角*/

@if $vxe-table-border-radius {
    .dui-table--render-default {
        &.is--round {
            %AllRadius {
                border-radius: $vxe-table-border-radius;
            }
            %TopRadius {
                border-radius: $vxe-table-border-radius $vxe-table-border-radius 0 0;
            }
            %TopLeftRadius {
                border-radius: $vxe-table-border-radius 0 0 0;
            }
            %TopRightRadius {
                border-radius: 0 $vxe-table-border-radius 0 0;
            }
            %BottomRadius {
                border-radius: 0 0 $vxe-table-border-radius $vxe-table-border-radius;
            }
            %BottomLeftRadius {
                border-radius: 0 0 0 $vxe-table-border-radius;
            }
            %BottomRightRadius {
                border-radius: 0 0 $vxe-table-border-radius 0;
            }
            @extend %AllRadius;
            .dui-table--border-line {
                @extend %AllRadius;
            }
            &.is--header {
                &:not(.is--footer) {
                    .dui-table--body-wrapper {
                        &.fixed-left--wrapper {
                            @extend %BottomLeftRadius;
                        }
                        &.body--wrapper {
                            @extend %BottomRadius;
                        }
                        &.fixed-right--wrapper {
                            @extend %BottomRightRadius;
                        }
                    }
                }
                .dui-table--header-wrapper {
                    &.fixed-left--wrapper {
                        @extend %TopLeftRadius;
                    }
                    &.body--wrapper {
                        @extend %TopRadius;
                    }
                    &.fixed-right--wrapper {
                        @extend %TopRightRadius;
                    }
                }
            }
            &:not(.is--header) {
                &:not(.is--footer) {
                    .dui-table--body-wrapper {
                        &.body--wrapper {
                            @extend %AllRadius;
                        }
                    }
                }
            }
            &.is--footer {
                &:not(.is--header) {
                    .dui-table--body-wrapper {
                        &.fixed-left--wrapper {
                            @extend %BottomLeftRadius;
                        }
                        &.body--wrapper {
                            @extend %TopRadius;
                        }
                        &.fixed-right--wrapper {
                            @extend %BottomRightRadius;
                        }
                    }
                }
                .dui-table--footer-wrapper {
                    &.fixed-left--wrapper {
                        @extend %BottomLeftRadius;
                    }
                    &.body--wrapper {
                        @extend %BottomRadius;
                    }
                    &.fixed-right--wrapper {
                        @extend %BottomRightRadius;
                    }
                }
            }
        }
    }
}


/*table*/

.dui-table--render-default {
    position: relative;
    font-size: $vxe-font-size;
    color: $vxe-table-font-color;
    font-family: $vxe-font-family;
    direction: ltr;
    .dui-table--body-wrapper {
        background-color: $vxe-table-body-background-color;
    }
    .dui-table--footer-wrapper {
        background-color: $vxe-table-footer-background-color;
    }
    .dui-table--header,
    .dui-table--body,
    .dui-table--footer {
        border: 0;
        border-spacing: 0;
        border-collapse: separate;
        table-layout: fixed;
    }
    .dui-table--header-wrapper,
    .dui-table--footer-wrapper {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    &:not(.is--empty) {
        &.is--footer {
            &.is--scroll-x {
                .dui-table--body-wrapper {
                    overflow-x: scroll;
                }
            }
        }
    }
    .dui-body--row {
        &.row--stripe {
            background-color: $vxe-table-row-striped-background-color;
        }
        &.row--radio {
            background-color: $vxe-table-row-radio-checked-background-color;
        }
        &.row--checked {
            background-color: $vxe-table-row-checkbox-checked-background-color;
        }
        &.row--current {
            background-color: $vxe-table-row-current-background-color;
        }
        &.row--hover {
            background-color: $vxe-table-row-hover-background-color;
            &.row--stripe {
                background-color: $vxe-table-row-hover-striped-background-color;
            }
            &.row--radio {
                background-color: $vxe-table-row-hover-radio-checked-background-color;
            }
            &.row--checked {
                background-color: $vxe-table-row-hover-checkbox-checked-background-color;
            }
            &.row--current {
                background-color: $vxe-table-row-hover-current-background-color;
            }
        }
    }
    // &.is--tree-line {
    //   .dui-body--row {
    //     &.row--stripe {
    //       .dui-tree--btn-wrapper {
    //         background-color: $vxe-table-row-striped-background-color;
    //       }
    //     }
    //     &.row--radio {
    //       .dui-tree--btn-wrapper {
    //         background-color: $vxe-table-row-radio-checked-background-color;
    //       }
    //     }
    //     &.row--checked {
    //       .dui-tree--btn-wrapper {
    //         background-color: $vxe-table-row-checkbox-checked-background-color;
    //       }
    //     }
    //     &.row--current {
    //       .dui-tree--btn-wrapper {
    //         background-color: $vxe-table-row-current-background-color;
    //       }
    //     }
    //     &.row--hover {
    //       .dui-tree--btn-wrapper {
    //         background-color: $vxe-table-row-hover-background-color;
    //       }
    //       &.row--stripe {
    //         .dui-tree--btn-wrapper {
    //           background-color: $vxe-table-row-hover-striped-background-color;
    //         }
    //       }
    //       &.row--radio {
    //         .dui-tree--btn-wrapper {
    //           background-color: $vxe-table-row-hover-radio-checked-background-color;
    //         }
    //       }
    //       &.row--checked {
    //         .dui-tree--btn-wrapper {
    //           background-color: $vxe-table-row-hover-checkbox-checked-background-color;
    //         }
    //       }
    //       &.row--current {
    //         .dui-tree--btn-wrapper {
    //           background-color: $vxe-table-row-hover-current-background-color;
    //         }
    //       }
    //     }
    //   }
    // }
    &.drag--resize {
        .dui-table--main-wrapper,
        .dui-table--fixed-left-wrapper,
        .dui-table--fixed-right-wrapper {
            * {
                cursor: col-resize;
            }
        }
    }
    &.drag--range,
    &.drag--area {
        .dui-table--main-wrapper,
        .dui-table--fixed-left-wrapper,
        .dui-table--fixed-right-wrapper {
            * {
                cursor: default;
            }
        }
    }
    &.drag--extend-range {
        .dui-table--main-wrapper,
        .dui-table--fixed-left-wrapper,
        .dui-table--fixed-right-wrapper {
            * {
                cursor: crosshair;
            }
        }
    }
    &.column--highlight {
        .dui-header--column {
            &:not(.col--seq) {
                &:hover {
                    background-color: $vxe-table-column-hover-background-color;
                }
            }
        }
    }
    &.cell--area {
        .dui-table--main-wrapper {
            user-select: none;
        }
    }
    .dui-header--column,
    .dui-body--column,
    .dui-footer--column {
        position: relative;
        line-height: $vxe-table-row-line-height;
        text-align: left;
        &:not(.col--ellipsis) {
            padding: $vxe-table-column-padding-default;
        }
        &.col--current {
            background-color: $vxe-table-column-current-background-color;
            // .dui-tree--btn-wrapper {
            //   background-color: $vxe-table-column-current-background-color;
            // }
        }
        &.col--center {
            text-align: center;
        }
        &.col--right {
            text-align: right;
        }
    }
    // &.is--tree-line {
    //   .dui-header--column,
    //   .dui-body--column,
    //   .dui-footer--column {
    //     &.col--current {
    //       .dui-tree--btn-wrapper {
    //         background-color: $vxe-table-column-current-background-color;
    //       }
    //     }
    //   }
    // }
    .dui-header--column,
    .dui-footer--column {
        &.col--ellipsis {
            &.col--center {
                .dui-cell {
                    justify-content: center;
                }
            }
            &.col--right {
                .dui-cell {
                    justify-content: flex-end;
                }
            }
        }
    }
    .dui-body--column {
        &.col--checkbox {
            user-select: none;
        }
    }
    /*边框*/
    .dui-table--footer-wrapper {
        border-top: $vxe-table-border-width solid $vxe-table-border-color;
    }
    &.border--default,
    &.border--full,
    &.border--outer {
        .dui-table--header-wrapper {
            background-color: $vxe-table-header-background-color;
        }
    }
    &.border--default,
    &.border--inner {
        .dui-header--column,
        .dui-body--column,
        .dui-footer--column {
            background-image: linear-gradient($vxe-table-border-color, $vxe-table-border-color);
            background-repeat: no-repeat;
            background-size: 100% $vxe-table-border-width;
            background-position: right bottom;
        }
    }
    &.border--full {
        .dui-header--column,
        .dui-body--column,
        .dui-footer--column {
            background-image: linear-gradient($vxe-table-border-color, $vxe-table-border-color), linear-gradient($vxe-table-border-color, $vxe-table-border-color);
            background-repeat: no-repeat;
            background-size: $vxe-table-border-width 100%, 100% $vxe-table-border-width;
            background-position: right top, right bottom;
        }
        .dui-table--fixed-left-wrapper {
            // border-right: $vxe-table-border-width solid $vxe-table-border-color;
            .dui-body--column {
                border-right-color: $vxe-table-border-color;
            }
        }
    }
    &.border--default,
    &.border--full,
    &.border--outer,
    &.border--inner {
        .dui-table--header-wrapper {
            .dui-header--row {
                &:last-child {
                    .dui-header--gutter {
                        background-image: linear-gradient($vxe-table-border-color, $vxe-table-border-color);
                        background-repeat: no-repeat;
                        background-size: 100% $vxe-table-border-width;
                        background-position: right bottom;
                    }
                }
            }
        }
    }
    &.border--inner,
    &.border--none {
        .dui-table--header-wrapper {
            background-color: $vxe-table-body-background-color;
        }
        .dui-table--fixed-left-wrapper {
            border-right: 0;
        }
    }
    &.border--inner {
        .dui-table--border-line {
            border-width: 0 0 1px 0;
        }
    }
    &.border--none {
        .dui-table--border-line {
            display: none;
        }
        .dui-table--header-border-line {
            display: none;
        }
        .dui-table--footer-wrapper {
            border-top: 0;
        }
    }
    &.size--medium {
        font-size: $vxe-font-size-medium;
        .dui-table--empty-placeholder,
        .dui-table--empty-block {
            min-height: $vxe-table-row-height-medium;
        }
        .dui-header--column,
        .dui-body--column,
        .dui-footer--column {
            &:not(.col--ellipsis) {
                padding: $vxe-table-column-padding-medium;
            }
        }
        .dui-cell {
            .dui-default-input,
            .dui-default-textarea,
            .dui-default-select {
                height: $vxe-input-height-medium;
            }
            .dui-default-input {
                &[type="date"]::-webkit-inner-spin-button {
                    margin-top: 3px;
                }
            }
        }
    }
    &.size--small {
        font-size: $vxe-font-size-small;
        .dui-table--empty-placeholder,
        .dui-table--empty-block {
            min-height: $vxe-table-row-height-small;
        }
        .dui-header--column,
        .dui-body--column,
        .dui-footer--column {
            &:not(.col--ellipsis) {
                padding: $vxe-table-column-padding-small;
            }
        }
        .dui-cell {
            .dui-default-input,
            .dui-default-textarea,
            .dui-default-select {
                height: $vxe-input-height-small;
            }
            .dui-default-input {
                &[type="date"]::-webkit-inner-spin-button {
                    margin-top: 2px;
                }
            }
        }
    }
    &.size--mini {
        font-size: $vxe-font-size-mini;
        .dui-table--empty-placeholder,
        .dui-table--empty-block {
            min-height: $vxe-table-row-height-mini;
        }
        .dui-header--column,
        .dui-body--column,
        .dui-footer--column {
            &:not(.col--ellipsis) {
                padding: $vxe-table-column-padding-mini;
            }
        }
        .dui-cell {
            .dui-default-input,
            .dui-default-textarea,
            .dui-default-select {
                height: $vxe-input-height-mini;
            }
            .dui-default-input {
                &[type="date"]::-webkit-inner-spin-button {
                    margin-top: 1px;
                }
            }
        }
    }
    .dui-cell {
        white-space: pre-line;
        word-break: break-all;
        padding-left: $vxe-table-cell-padding-left;
        padding-right: $vxe-table-cell-padding-right;
    }
    // 单元格占位符
    .dui-cell--placeholder {
        color: $vxe-table-cell-placeholder-color;
    }
    // 单选框和复选框
    // .dui-cell--radio {
    //     @extend %XERadio;
    // }
    // .dui-cell--checkbox {
    //     @extend %XECheckbox;
    // }
    // .dui-cell--radio .dui-radio--icon,
    // .dui-cell--checkbox .dui-checkbox--icon {
    //     left: 0;
    //     top: 0.1em;
    // }
    // .dui-cell--radio .dui-radio--label,
    // .dui-cell--checkbox .dui-checkbox--label {
    //     padding-left: 0.5em;
    // }
    // .dui-cell--radio,
    // .dui-cell--checkbox {
    //     padding-left: 1.2em;
    // }
    .fixed--hidden {
        visibility: hidden;
    }
    .dui-table--fixed-left-wrapper,
    .dui-table--fixed-right-wrapper {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 5;
        overflow: hidden;
        background-color: inherit;
        transition: 0.3s box-shadow;
        .dui-table--body-wrapper {
            overflow-x: hidden;
        }
    }
    .dui-table--fixed-left-wrapper {
        .dui-table--body-wrapper {
            width: calc(100% + 40px);
        }
    }
    &.is--header {
        .dui-table--fixed-left-wrapper,
        .dui-table--fixed-right-wrapper {
            .dui-table--body-wrapper {
                &:before {
                    display: none;
                }
            }
        }
    }
    .dui-table--fixed-left-wrapper {
        left: 0;
        width: 200px;
        &.scrolling--middle {
            box-shadow: $vxe-table-fixed-left-scrolling-box-shadow;
        }
    }
    .dui-table--fixed-right-wrapper {
        right: 0;
        &.scrolling--middle {
            box-shadow: $vxe-table-fixed-right-scrolling-box-shadow;
        }
    }
    .dui-table--header-wrapper,
    .dui-table--body-wrapper,
    .dui-table--footer-wrapper {
        position: relative;
        &.fixed-left--wrapper,
        &.fixed-right--wrapper {
            position: absolute;
            top: 0;
        }
        &.fixed-left--wrapper {
            left: 0;
        }
        &.fixed-right--wrapper {
            right: 0;
            overflow-y: auto;
        }
    }
    .dui-body--x-space {
        width: 100%;
        height: 1px;
        margin-bottom: -1px;
    }
    .dui-body--y-space {
        width: 0;
        float: left;
    }
    /*列宽线*/
    .dui-table--resizable-bar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        z-index: 9;
        cursor: col-resize;
        &:before {
            content: "";
            display: block;
            height: 100%;
            background-color: $vxe-table-resizable-drag-line-color;
        }
    }
    /*边框线*/
    .dui-table--border-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        pointer-events: none;
        border: $vxe-table-border-width solid $vxe-table-border-color;
    }
    /*树形节点*/
    &.is--tree-line {
        .dui-body--row {
            &:first-child {
                .dui-tree--line {
                    border-width: 0 0 1px 0;
                }
            }
        }
        .dui-body--row {
            .dui-body--column {
                background-image: none;
            }
        }
    }
    .dui-tree--line-wrapper {
        position: relative;
        display: block;
        height: 0;
    }
    .dui-tree--line {
        content: "";
        position: absolute;
        bottom: -0.9em;
        width: 0.8em;
        border-width: 0 0 1px 1px;
        border-style: $vxe-table-tree-node-line-style;
        border-color: $vxe-table-tree-node-line-color;
        pointer-events: none;
    }
    .dui-cell--tree-node {
        position: relative;
    }
    .dui-tree--btn-wrapper {
        position: absolute;
        top: 50%;
        width: 1em;
        height: 1em;
        text-align: center;
        transform: translateY(-50%);
        z-index: 1;
        user-select: none;
        cursor: pointer;
    }
    .dui-tree--node-btn {
        display: block;
        color: lighten($vxe-table-font-color, 20%);
        &:hover {
            color: $vxe-table-font-color;
        }
    }
    .dui-tree-cell {
        display: block;
        padding-left: 1.5em;
    }
    .dui-body--column {
        &.col--ellipsis {
            &>.dui-cell {
                .dui-tree-cell {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
    /*展开行*/
    .dui-table--expanded {
        cursor: pointer;
        .dui-table--expand-btn {
            width: 1em;
            height: 1em;
            text-align: center;
            user-select: none;
            color: lighten($vxe-table-font-color, 20%);
            &:hover {
                color: $vxe-table-font-color;
            }
        }
        &+.dui-table--expand-label {
            padding-left: 0.5em;
        }
    }
    .dui-body--expanded-column {
        border-bottom: $vxe-table-border-width solid $vxe-table-border-color;
        &.col--ellipsis {
            &>.dui-body--expanded-cell {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .dui-body--expanded-cell {
        position: relative;
        z-index: 1;
    }
    /*设置列高度*/
    &.dui-editable {
        .dui-body--column {
            @extend %DefaultColumnHeight;
        }
        &.size--medium {
            .dui-body--column {
                @extend %MediumColumnHeight;
            }
        }
        &.size--small {
            .dui-body--column {
                @extend %SmallColumnHeight;
            }
        }
        &.size--mini {
            .dui-body--column {
                @extend %MiniColumnHeight;
            }
        }
    }
    /*溢出列*/
    .dui-header--column,
    .dui-body--column,
    .dui-footer--column {
        &.col--ellipsis {
            @extend %DefaultColumnHeight;
            &:not(.col--actived) {
                &>.dui-cell {
                    @extend %TextEllipsis;
                }
            }
            &>.dui-cell {
                max-height: $vxe-table-row-height-default;
            }
        }
    }
    &.size--medium {
        .dui-header--column,
        .dui-body--column,
        .dui-footer--column {
            &.col--ellipsis {
                @extend %MediumColumnHeight;
                &>.dui-cell {
                    max-height: $vxe-table-row-height-medium;
                }
            }
        }
        .dui-cell--checkbox .dui-checkbox--icon {
            font-size: $vxe-checkbox-font-size-medium;
        }
        .dui-cell--radio .dui-radio--icon {
            font-size: $vxe-radio-font-size-medium;
        }
    }
    &.size--small {
        .dui-header--column,
        .dui-body--column,
        .dui-footer--column {
            &.col--ellipsis {
                @extend %SmallColumnHeight;
                &>.dui-cell {
                    max-height: $vxe-table-row-height-small;
                }
            }
        }
        .dui-cell--checkbox .dui-checkbox--icon {
            font-size: $vxe-checkbox-font-size-small;
        }
        .dui-cell--radio .dui-radio--icon {
            font-size: $vxe-radio-font-size-small;
        }
    }
    &.size--mini {
        .dui-header--column,
        .dui-body--column,
        .dui-footer--column {
            &.col--ellipsis {
                @extend %MiniColumnHeight;
                &>.dui-cell {
                    max-height: $vxe-table-row-height-mini;
                }
            }
        }
        .dui-cell--checkbox .dui-checkbox--icon {
            font-size: $vxe-checkbox-font-size-mini;
        }
        .dui-cell--radio .dui-radio--icon {
            font-size: $vxe-radio-font-size-mini;
        }
    }
    /*暂无数据*/
    .dui-table--empty-placeholder,
    .dui-table--empty-block {
        min-height: $vxe-table-row-height-default;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        width: 100%;
        pointer-events: none;
    }
    .dui-table--empty-block {
        display: none;
        visibility: hidden;
    }
    .dui-table--empty-placeholder {
        display: none;
        position: absolute;
        top: 0;
        z-index: 5;
    }
    .dui-table--empty-content {
        display: block;
        width: 50%;
        pointer-events: auto;
    }
    &.is--empty {
        .dui-table--empty-block,
        .dui-table--empty-placeholder {
            display: flex;
        }
    }
    .dui-body--column {
        &.col--selected {
            box-shadow: inset 0px 0px 0px 2px $vxe-primary-color;
        }
    }
    /*校验不通过*/
    .dui-body--column {
        &.col--actived,
        &.col--selected {
            position: relative;
        }
        &.col--valid-error {
            .dui-cell--valid {
                width: 320px;
                position: absolute;
                bottom: calc(100% + 4px);
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                pointer-events: none;
                z-index: 4;
                .dui-cell--valid-msg {
                    display: inline-block;
                    border-radius: $vxe-border-radius;
                    padding: 8px 12px;
                    color: $vxe-table-validate-tooltip-error-color;
                    background-color: $vxe-table-validate-tooltip-error-background-color;
                    pointer-events: auto;
                }
            }
            .dui-default-input,
            .dui-default-textarea,
            .dui-default-select {
                border-color: $vxe-table-validate-error-color;
            }
            .dui-input {
                >.dui-input--inner {
                    border-color: $vxe-table-validate-error-color;
                }
            }
        }
    }
    .dui-body--row {
        &:first-child {
            .dui-cell--valid {
                bottom: auto;
                top: calc(100% + 4px);
            }
        }
    }
    .dui-body--column {
        &:first-child {
            .dui-cell--valid {
                left: 10px;
                transform: translateX(0);
                text-align: left;
            }
        }
    }
    /*单元格编辑状态*/
    .dui-body--row {
        &.row--new {
            &>.dui-body--column {
                position: relative;
                &:before {
                    content: "";
                    top: -$vxe-table-cell-dirty-width;
                    left: -$vxe-table-cell-dirty-width;
                    position: absolute;
                    border-width: $vxe-table-cell-dirty-width;
                    border-style: solid;
                    border-color: transparent $vxe-table-cell-dirty-insert-color transparent transparent;
                    transform: rotate(45deg);
                }
            }
        }
    }
    .dui-body--column {
        &.col--dirty {
            position: relative;
            &:before {
                content: "";
                top: -$vxe-table-cell-dirty-width;
                left: -$vxe-table-cell-dirty-width;
                position: absolute;
                border-width: $vxe-table-cell-dirty-width;
                border-style: solid;
                border-color: transparent $vxe-table-cell-dirty-update-color transparent transparent;
                transform: rotate(45deg);
            }
        }
    }
    /*可编辑*/
    &.dui-editable {
        &.cell--highlight {
            .dui-body--column {
                &.col--actived {
                    box-shadow: inset 0px 0px 0px 2px $vxe-primary-color;
                    &.col--valid-error {
                        box-shadow: inset 0px 0px 0px 2px $vxe-table-validate-error-color;
                    }
                    .dui-cell {
                        .dui-default-input,
                        .dui-default-textarea {
                            border: 0;
                            padding: 0;
                        }
                        .dui-default-input {
                            height: $vxe-table-row-line-height;
                        }
                        .dui-input {
                            .dui-input--inner {
                                border: 0;
                                padding-left: 0;
                            }
                        }
                        .dui-textarea {
                            height: $vxe-table-row-line-height - 1;
                            .dui-textarea--inner {
                                border: 0;
                            }
                        }
                    }
                }
            }
        }
        .dui-body--column {
            padding: 0;
            &.col--actived {
                padding: 0;
            }
        }
    }
}